*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 100px;
}

.logo{
    height: 50px;
}

nav{
    margin-left: 600px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #555;
}

nav ul li a:hover{
    color: #ff523b;
    transition-duration: .5s;
    /* text-decoration: underline; */
}

.cart{
    height: 30px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 120px;
}

.image{
    margin-right: 10px;
}

.image img{
    height: 400px;
}

.img-option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.img-option img{
    height: 90px;
    width: auto;
}

#size{
    /* margin-top: 20px; */
    padding: 5px 8px;
    border: 2px solid #ff523b;
    box-sizing: content-box;
    border-radius: 10px;
}

/* .size{
    padding: 60px 0px;
} */

.content{
    display: flex;
    flex-direction: column;
    /* flex-basis: 50%; */
    justify-content: space-evenly;
    align-items: flex-start;
}

.content p{
    color: #555;
    font-size: 15px;
    /* padding-top: 20px; */
    line-height: 1.5;
    /* padding-bottom: 20px; */
}
.content h1{
    /* padding: 10px 0 30px 0; */
    font-size: 50px;
}

#quantity{
    border: 2px solid #ff523b;
    border-radius: 5px;
    padding: 5px 0px;
    width: 50px;
    margin-right: 25px;
}

.btn{
    border: 2px solid #ff523b;
    border-radius: 50px;
    padding: 10px 25px;
    color: white;
    background-color: #ff523b;
    transition: 0.5s;
}

.btn:hover{
    background-color: white;
    color: #ff523b;
    cursor: pointer;
}

.content h4{
    font-size: 20px;

}

.content h5{
    font-size: 20px;
}

.view-more{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.view-more a{
    text-decoration: none;
    color: #ff523b;
}

.heading-1{
    font-size: 30px;
}

.products-page-1{
    max-width: 1200px;
    margin: auto;
}

.products-1{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.products-1 a{
    text-decoration: none;
    color: #000;
}

.products-1 img{
    height: 300px;
    /* border-radius: 15px; */
    padding-bottom: 3px;
}

.box{
    padding: 8px 8px;
}
.box:hover{
    cursor: pointer;
    transition: .5s;
    transform: translateY(-10px);
}



.foot{
    background-color: black;
    color: white;
    height: 250px;
    margin-top: 120px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    height: 250px;
}

.foot1 img{
    height: 40px;
}

.foot2 img{
    height: 40px;
}

.footer p{
    font-size: 12px;
    line-height: 2;
}
