*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    padding-top: 20px;
}

.logo{
    height: 50px;
}

nav{
    margin-left: 600px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #555;
}

nav ul li a:hover{
    color: #ff523b;
    transition-duration: .5s;
    /* text-decoration: underline; */
}

.cart{
    height: 30px;
}

.row{
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}

.col1{
    flex-basis: 50%;
    /* line-height: 1.5; */
    display: block;
}

#col1-1{
    line-height: 1;
}

#col1-2{
    line-height: 1.5;
    padding-top: 17px;
}

.col2{
    flex-basis: 50%;
    min-width: 300px;
}

.col2 img{
    max-width: 100%;
    padding: 50px 0px;
    display: block;
}

.button-row{
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: #ff523b;
    margin-left: 77px;
    border: 3px solid;
    border-color: transparent;
}

.button-row:hover{
    color: #ff523b;
    background-color: #fff;
    cursor: pointer;
    border: 3px solid;
    border-color: #ff523b;
    transition-duration: 1s;
}

.page1{
    background-image: radial-gradient( white, #c45546);
    height: 100vh;
}

.page1-2{
    
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

/* .page1-2 div{
    
} */

.page1-2 img{
    height: 350px;
    margin-top: 80px;
    margin-bottom: 0px;
    border: 1px solid;
    border-radius: 25px;
    border-color: #ff523b;
    box-shadow: 0 4px 8px 2px #ff523b, 0 6px 20px 0 white;
}

.heading-1{
    max-width: fit-content;
    margin: auto;
    color: #ff523b;
    text-align: center;
    font-size: 40px;
    border-bottom: 5px solid #ff523b;
    margin-bottom: 90px;
    margin-top: 70px;
    /* border-bottom-left-radius: 5px; */
}


.featured-products-1{
    max-width: 1300px;
    margin: auto;
}

.products-1{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.products-1 img{
    height: 300px;
    border-radius: 15px;
    padding-bottom: 3px;
}

.box{
    border: 3px solid black;
    padding: 8px 8px;
    border-radius: 15px;
    border-color: #ff523b;
}
.box:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0px #ff523b, 0 6px 20px 0 white;
    transition: .5s;
    transform: translateY(-10px);
}

.watch{
    background-image: radial-gradient(#f5a699,white);
}

.exclusive{
    height: 500px;
    display: flex;
    max-width: 1300px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.exclusive img{
    height: 300px;
    padding-left: 100px;
}

.exc-content{
    display: block;
}

.exc-content h3{
    font-size: 45px;
}

.button-exc{
    padding: 10px 35px;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: #ff523b;
    border: 3px solid;
    border-color: transparent;
}

.button-exc:hover{
    color: #ff523b;
    background-color: #fff;
    cursor: pointer;
    border: 3px solid;
    border-color: #ff523b;
    transition-duration: 1s;
}

.testimonials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1100px;
    margin: auto;
   /* margin-bottom: 50px;*/
}

.testimonials-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #fef4f2;
    height: 400px;
    text-align: center;
    align-items: center;
    margin-left: 40px ;
    margin-right: 40px;
    background-color: #fef4f2;
    transition: transform 0.5s;
}

.testimonials-1:hover{
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0 4px 8px 0px #ff523b, 0 6px 20px 0 white;
}

.testimonials-1 img{
    height: 150px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.testimonials-1 p{
    padding: 15px 5px 10px 5px;
    font-size: 12px;
}

.partners{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-bottom: 100px;
}

.partners img{
    filter: grayscale(100%);
    transition: 0.3s;
    height: 60px;
}

.partners img:hover{
    filter: grayscale(0);
    cursor: pointer;
}

.foot{
    background-color: black;
    color: white;
    height: 250px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    height: 250px;
}

.foot1 img{
    height: 40px;
}

.foot2 img{
    height: 40px;
}

.footer p{
    font-size: 12px;
    line-height: 2;
}
